# node
.env
node_modules

# misc
.DS_Store
*.pem

# cloudflare
.cache
.dev.vars
.wrangler

# remixのbuild結果
apps/remix/public/build
apps/remix/functions

# blogbot
build

# typescript
*.tsbuildinfo

# turbo
.turbo
