@use "content";
@use "embed";
@use "highlight";

// use short classname so that nested css does not become too long.
.znc {
  & > *:first-child {
    margin-top: 0;
  }

  & {
    line-height: 1.9;
    overflow-wrap: anywhere; // 要素はみ出ないように改行させる
  }
}
